<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Todo List Manager</title>
</head>
<body>
<h1>Welcome to the Todo List Manager</h1>
<p>Here you can find a list of all the exisiting tasks:</p>


<p>List of Tasks:</p>
<ul id="list">
    {% for i in value %}
        <li id="{{ i }}">
            {{ i }}
        </li>
        <form method = "POST" action="delete_task.html">
            <input type="submit" name="{{ i }}">
        </form>
    {% endfor %}
</ul>


<p>Insert the name of the new task:</p>
<form method = "POST" action="insert_task.html">
    <input type="text" name="task">
    <input type="submit" name="enter">
</form>



</body>
</html>