<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Todo List Manager</title>
</head>
<body>
<h1>Welcome to the Todo List Manager</h1>
<p>Here you can find a list of all the exisiting tasks:</p>


<p>List of Tasks:</p>
<p>(Tick the task that need to be deleted)</p>
<ul id="list">
    {% for i in value %}
        <li>{{ i+' ' }}<input type="checkbox" name="Delete" value="Delete"></li>
    {% endfor %}
</ul>


<p>Insert the name of the new task:</p>
<form action='insertpage.html'>
    <input type="text" newtask="task">
    <input type="submit" button="Enter">
</form>




</body>
</html>